<div class="container">
  <p>Select Root Note:</p>
  <div class="row col-8">
    <div class="col col-sm"
         (click)="setSelectedChordRootNote(chordRootNote)"
         *ngFor="let chordRootNote of chordRootNotes">
      <p>{{chordRootNote.rootName | musicNote}}</p>
    </div>
  </div>
</div>
<div class="container">
  <p>Select Key:</p>
  <div class="row col-8">
    <div class="col col-sm-auto" (click)="setSelectedChordKey(chordKey)"
         *ngFor="let chordKey of chordKeys">
      <p>{{chordKey.keyName}}</p>
    </div>
  </div>
</div>
