<div class="container">
  <p>Select Root Note:</p>
  <div class="row">
    <div class="col col-sm-auto">
      <p>C</p>
    </div>
    <div class="col col-sm-auto">
      <div class="row">
        <p>C&sharp;</p>
      </div>
      <div class="row">
        <p>D&flat;</p>
      </div>
    </div>
    <div class="col col-sm-auto">
      <p>D</p>
    </div>
    <div class="col col-sm-auto">
      <p>D</p>
    </div>
    <div class="col col-sm-auto">
      <p>D</p>
    </div>
  </div>
</div>
<div class="container">
  <p>Select Key:</p>
  <div class="row">
    <div class="col col-sm-auto">
      <p>maj</p>
    </div>
    <div class="col col-sm-auto">
      <p>5</p>
    </div>
    <div class="col col-sm-auto">
      <p>6</p>
    </div>
  </div>
</div>
