<form [formGroup]="tabRequiredDetailForm">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="d-flex flex-row ">
        <span>
          <label class="form-label mx-sm-1">Song</label>
          <label *ngIf="!tabRequiredDetailForm.get('songTitle')?.valid"
                 class="form-label text-danger">*</label>
          <input class="form-text" formControlName="songTitle">
        </span>
        <span>
          <label class="form-label mx-sm-1">Artist</label>
          <label *ngIf="!tabRequiredDetailForm.get('artistName')?.valid"
                 class="form-label text-danger">*</label>
          <input class="form-text" formControlName="artistName">
        </span>
      </div>
      <div class="d-flex flex-row">
        <div class="flex-column align-content-center me-sm-3">
          <label class="form-label col-form-label-sm">Join Phrase:</label>
          <select [ngModel]="otherArtistJoinPhrase.at(0)"
                  class="form-select" formControlName="otherArtistsJoinPhrase">
            <option *ngFor="let joinPhrase of otherArtistJoinPhrase">{{joinPhrase}}</option>
          </select>
        </div>
        <div class="d-flex flex-column" formArrayName="otherArtistsNames">
          <a *ngFor="let otherArtistNameInput of otherArtistsNameInputArray.controls; let i= index">
            <label *ngIf="!otherArtistsNameInputArray.at(i)?.valid"
                   class="form-label text-danger">*</label>
            <input class="form-text" [formControlName]="i">
            <button class="btn btn-outline-danger btn-sm" (click)="removeArtistNameInputArray(i)">X</button>
          </a>
          <span>
          <button class="btn btn-outline-dark btn-sm my-sm-1"
                  (click)="addOtherArtistsInput()">Add other artists</button>
        </span>
        </div>
      </div>

      <div *ngIf="!lyricsSelected">
        <div class="flex-row d-flex">
        <span class="mx-sm-1" *ngIf="guitarTabSelected">
          <label class="form-label col-form-label-sm">Add Tuning: </label>
          <select [ngModel]="tuningTypes.at(0)" class="form-select" formControlName="tuningType">
            <option *ngFor="let tuningName of tuningTypes">{{tuningName}}</option>
          </select>
        </span>
          <span class="mx-sm-1" *ngIf="guitarTabSelected">
          <label class="form-label col-form-label-sm">Capo: </label>
          <select [ngModel]="capos.at(0)" class="form-select" formControlName="capoFret">
            <option *ngFor="let capo of capos">{{capo}}</option>
          </select>
        </span>
          <span class="mx-sm-1" *ngIf="harmonicaTabSelected">
          <label class="form-label col-form-label-sm">Harmonica Type: </label>
          <select [ngModel]="harmonicaTypes.at(0)" class="form-select" formControlName="harmonicaType">
            <option *ngFor="let harmonicaType of harmonicaTypes">{{harmonicaType}}</option>
          </select>
        </span>
          <span class="mx-sm-1" *ngIf="harmonicaTabSelected">
          <label class="form-label col-form-label-sm">Harmonica Key: </label>
          <select [ngModel]="harmonicaKeyTypes.at(0)" class="form-select" formControlName="harmonicaKey">
            <option *ngFor="let harmonicaKey of harmonicaKeyTypes">{{harmonicaKey}}</option>
          </select>
        </span>
          <span class="mx-sm-1">
          <label class="form-label col-form-label-sm">Select Difficulty:</label>
          <select [ngModel]="difficultyLevels.at(0)" class="form-select" formControlName="difficulty">
            <option *ngFor="let difficulty of difficultyLevels">{{difficulty}}</option>
          </select>
        </span>
        </div>
      </div>
    </li>
  </ul>
</form>
