<div class="chords-menu-backdrop">
  <div class="chords-menu-alert-box">
    <div class="container border" >

      <div class="row">
        <div class="col col-md-7">
          <app-chord-list (selectedChordChangedEvent)="setLatestChordSelected($event)"></app-chord-list>
        </div>

        <div class="selected-chords col col-sm" #scrollToBottom [scrollTop]="scrollToBottom.scrollHeight">
          <p>Selected Chords:</p>
            <div *ngFor="let selectedChord of selectedChords"
                 (click)="setLatestChordSelected(selectedChord)"
                 class="border my-sm-1 selected-chord-container">
              <p>
                {{selectedChord.chordRoot.rootName | musicNote}}{{selectedChord.chordKey.keyName}}
              </p>
              <button class="btn btn-outline-danger remove-selected-chord"
                      (click)="removeSelectedChord(selectedChord)">X</button>
            </div>
        </div>

        <div class="col col-sm">
          <app-chord-item [selectedChord]="latestChordSelected"></app-chord-item>
        </div>
      </div>
    </div>


    <div class="chords-menu-alter-box-actions">
      <button class="btn btn-primary mx-sm-2" (click)="onSaveClicked()">Save</button>
      <button class="btn btn-primary mx-sm-2" (click)="onCloseClicked()">Close</button>
    </div>

  </div>
</div>

