.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.75);
  z-index: 50;
}

.alert-box{
  position: fixed;
  top: 3vh;
  left: 5vw;
  width: 90vw;
  padding: 16px;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.26);
}

.alter-box-actions{
  text-align: right;
}
.chord-changes-container{
  overflow-y: scroll;
  overflow-x: scroll;
  height: 6rem;
  width: 40rem;
}

.selected-chord-change-container {
  position: relative;
  text-align: center;
}
.remove-selected-chord-change{
  line-height: 3px;
  width: 3px;
  font-size: 8pt;
  margin-top: 1px;
  margin-right: 2px;
  margin-left: 2px;
  position: absolute;
  top:0;
  right:0;
}
