<div class="container row mt-sm-4">

  <div class="container border">
    <p class="my-sm-2">Metronome:</p>
    <form>
      <input type="text" class="form-label col-sm-1"
             #BPMNumberInput
             (change)="changeCurrentBPM(BPMNumberInput.value)" [value]="currentBPM">
      <input class="form-range"
             #BPMSlider
             (input)="changeCurrentBPM(BPMSlider.value)"
             type="range" [min]="MIN_BPM_VAL" [max]="MAX_BPM_VAL" [value]="currentBPM" [step]="1">
      <button class="btn btn-outline-dark form-control-sm mx-sm-2 my-sm-2"
              (click)="playMetronomeSound()">Play</button>
      <button class="btn btn-outline-danger form-control-sm mx-sm-2 my-sm-2"
              (click)="stopMetronomeSound()">Stop</button>
    </form>
  </div>

</div>
