<div>
  <form [formGroup]="topicForm">

    <ul class="list-group">
      <li class="list-group-item">
        <div class="container row">
          <input  class="col-sm-auto form-text form-control-sm"  type="text"
                    formControlName = "topicTitle"
                    placeholder="Topic Title"/>
          <div *ngIf="!topicForm.get('topicTitle')?.valid"
               class="form-text text-danger">
            *Topic Title required
          </div>
          <div *ngIf="topicForm.get('topicTitle')?.errors?.['whitespaceValidationFailed']
            && topicForm.get('topicTitle')?.touched" class="form-text text-danger">
            *Field cannot be empty
          </div>
          <button class="btn btn-danger mx-sm-auto col-sm-1" type="button"
                  *ngIf="totalTopics > 1"
                  (click)="deleteTopic(indexInCurrentRoutine)">X</button>
        </div>

        <div class="row">
          <label class="form-label col-form-label-sm col-sm-auto">Song:</label>
          <input type="text"
                 formControlName="topicSongTitle"
                 placeholder="song" class="col-sm-auto form-text form-control-sm me-sm-1"/>
          <button type="button" class="btn btn-outline-dark btn-sm col-sm-auto">Save</button>
        </div>

        <div class="container row mt-sm-1">
          <div class="container row"
               *ngIf="selectedChords.length > 0">
            <p>Chords:</p>
            <span class="container row saved-chords-container">
              <div *ngFor="let chordSelected of selectedChords"
                   class="border col-sm-auto d-flex justify-content-start h-50 d-inline-block">
                <p>{{chordSelected.chordRoot.rootName | musicNote}}{{chordSelected.chordKey.keyName}}</p>
              </div>
            </span>
          </div>
          <app-topic-chords-menu formControlName="topicChords"
                                 (close)="onCloseChordsMenuButtonClicked()"
                                 (save)="onSaveChordsMenuButtonClicked($event)"
                                 [selectedChordsForEdit]="selectedChords"
                                 *ngIf="showChordsSelectionMenu"></app-topic-chords-menu>
          <button type="button"
                  (click)="onAddChordsButtonClicked()"
                  class="col-sm-auto btn-sm btn btn-outline-dark">Add Chords</button>
        </div>



        <div class="container row mt-sm-1">
          <div class="container row" *ngIf="selectedChordChanges.length > 0">
            <p>Changes:</p>
            <span class="container row saved-chord-changes-container">
              <div *ngFor="let chordChange of selectedChordChanges"
                   class="border col-sm-auto d-flex justify-content-start h-50 d-inline-block">
                <p>
                  {{chordChange.getChordFromRootName() | musicNote}}{{chordChange.getChordFromKeyName()}}
                  -> {{chordChange.getChordToRootName() | musicNote}}{{chordChange.getChordToKeyName()}}
                </p>
              </div>
            </span>
          </div>
          <app-topic-chord-changes-menu formControlName="topicChordChanges"
                                        (close)="onCloseChordChangesMenuButtonClicked()"
                                        (save)="onSaveChordChangesMenuButtonClicked($event)"
                                        [chordChangesForEdit]="selectedChordChanges"
                                        *ngIf="showChordChangesMenu"></app-topic-chord-changes-menu>
          <button type="button"
                  (click)="onAddChordChangesButtonClicked()"
                  class="col-sm-auto btn btn-sm btn-outline-dark">Add Changes</button>
        </div>

        <div class="container">
          <label class="col-sm-auto form-label col-form-label-sm">Strum Patterns:</label>
          <div formArrayName="strumPatterns">
            <li class="list-group-item" *ngFor="let strumInput of strumInputArray.controls; let i = index">
              <input type="text"
                     placeholder="DUX(D)U(D)U(X)"
                     [formControlName]="i"
                     class="col-sm-auto"/>
              <button class="btn btn-outline-danger" (click)="deleteStrumPatternInput(i)">x</button>
              <div *ngIf="!strumInput.valid && strumInput.touched"
                   class="text-danger form-text">
                *Strum Pattern input field cannot be empty.
              </div>
            </li>
          </div>
          <button type="button" class="col-sm-auto btn btn-sm btn-outline-dark"
                  (click)="onAddStrumPatternInputClicked()">Add</button>
        </div>

        <div class="container">
          <label class="form-label col-form-label-sm">Metronome:</label>
          <span class="row" *ngIf="selectedMetronomeValues">
            <label class="form-label col-form-label-sm col-sm-auto">BPM: {{selectedMetronomeValues.bpm}}</label>
            <label class="form-label col-form-label-sm col-sm-auto">Beats Per Measure: {{selectedMetronomeValues.beatsPerMeasure}}</label>
          </span>
          <app-metronome-menu formControlName="topicMetronome" (metronomeMenuClosed)="closeMetronomeMenu($event)"
                              (metronomeMenuSaved)="saveMetronomeValues($event)"
                              [metronomeValueForEdit]="selectedMetronomeValues"
                              *ngIf="showMetronomeMenu"></app-metronome-menu>
          <button class="col-sm-auto btn btn-sm btn-outline-dark"
                  (click)="onAddMetronomeClicked()">Add Metronome</button>
        </div>

        <div class="row">
          <label class="form-label col-form-label-sm">Duration: (hh:mm:ss)</label>
          <app-duration-input formControlName="topicTime"></app-duration-input>
          <div></div>
          <div *ngIf="!topicForm.get('topicTime')?.valid  && topicForm.get('topicTime')?.touched"
               class="form-text text-danger">
            *Invalid duration format entered: <br> Please use the
            following format(hh:mm:ss) <br> [Ex: 00:04:30]
          </div>
        </div>

      </li>
    </ul>
  </form>
</div>

