<ng-template appChordTooltip></ng-template>
<div *ngIf="guitarTab">
  <div class="row row-cols-md-2">
    <div class="col col-sm-4">
      <p>{{guitarTab.tabDetails.songTitle}}</p>
      <p>{{guitarTab.tabDetails.artistName}}</p>
      <p>Tab created by: {{guitarTab.tabDetails.username}}</p>
      <p>At:{{guitarTab.tabDetails.creationDateTime | formatDatetime}}</p>
      <hr>
      <p>{{guitarTab.guitarOtherReqDetails.tuningType}}</p>
      <p>{{guitarTab.guitarOtherReqDetails.capoPosition}}</p>
      <p>{{guitarTab.guitarOtherReqDetails.difficulty}}</p>
    </div>
    <div class="col col-sm-4">
      <app-tab-rating></app-tab-rating>
    </div>
  </div>
  <hr>
  <div #lyricsDiv class="formatted-line-break"
       [innerHTML]="guitarTab.tabLyrics.lyrics | linkifyChords">
  </div>
</div>
