<div>
  <form [formGroup]="loginForm" (ngSubmit)="onLogInFormSubmitted()">
    <div class="container">
      <span class="row my-sm-2">
        <label class="col">Username:</label>
        <input formControlName="userName" type="text" class="col">
      </span>
      <span class="row my-sm-2">
        <label class="col">Password:</label>
        <input class="col" formControlName="password" type="password">
      </span>
      <button class="my-sm-2" type="submit">Submit</button>
    </div>
  </form>
</div>
