<div>
  <form [formGroup]="loginForm" (ngSubmit)="onLogInFormSubmitted()">
    <div class="container">
      <span class="row my-sm-2">
        <label class="col">Username:</label>
        <input formControlName="userName" type="text" class="col">
      </span>
      <span class="row my-sm-2">
        <label class="col">Password:</label>
        <input class="col" formControlName="password" type="password">
      </span>
      <button class="my-sm-2" type="button">Submit</button>
      <a [routerLink]="['/register']" class="mx-sm-2 my-sm-2">Create a new account?</a>
    </div>
  </form>
</div>
