<div class="row">
  <app-navbar (navItemClicked)="loadFeature($event)"></app-navbar>
  <div class="col-sm-3">
    <app-sidebar (sidebarBtnClicked)="loadFeature($event)" ></app-sidebar>
  </div>
  <div class="col-auto">
    <app-routines *ngIf="loadedFeature === 'practice'"></app-routines>
    <app-songs *ngIf="loadedFeature === 'songs'"></app-songs>
    <app-songbook *ngIf="loadedFeature === 'songbook'"></app-songbook>
    <app-chords *ngIf="loadedFeature === 'chords'"></app-chords>
  </div>
</div>
