<div class="container">
  <div class="row">
    <div class="col-md-auto">
      <app-routine-list (routineAddBtnClickEmitter)="displayRoutineCreator(true)"
                        (selectedRoutineEmitter)="assignSelectedRoutine($event) "></app-routine-list>
    </div>
    <div class="col-md-auto">
      <app-routine-detail *ngIf="selectedRoutine && !routineBeingCreated"
                          [selectedRoutine]="selectedRoutine"></app-routine-detail>
    </div>
    <div class="col-md-auto">
      <app-routine-creator *ngIf="routineBeingCreated"></app-routine-creator>
    </div>

  </div>
</div>
