<div class="metronome-menu-backdrop">
  <div class="metronome-menu-alert-box">
    <div class="container border">
      <div class="row">
        <div class="col col-md-7">
          <app-metronome></app-metronome>
        </div>
      </div>
    </div>

    <div class="metronome-menu-alert-box-actions">
      <button class="btn btn-outline-primary mx-sm-2">Save</button>
      <button class="btn btn-outline-primary mx-sm-2" (click)="onMetronomeCloseClicked()">Close</button>
    </div>
  </div>
</div>
<app-metronome></app-metronome>
