.metronome-menu-backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.75);
  z-index: 50;
}

.metronome-menu-alert-box{
  position: fixed;
  align-items: center;
  top: 5vh;
  left: 10vw;
  width: 80vw;
  padding: 16px;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.26);
}

.metronome-menu-alert-box-actions{
  text-align: right;
}
