  <div class="row container ms-sm-1" *ngIf="lyricsTab">
    <div class="row row-cols-md-2">
      <div class="col col-sm-4">
        <p>{{lyricsTab.tabDetails.songTitle}}</p>
        <p>{{lyricsTab.tabDetails.artistName}}</p>
      </div>
      <div class="col col-sm-4">
          <p>Average rating: {{averageRating}}</p>
          <p>Rate: </p>
          <app-rating [selectedStar]="starsSelected"
                      (selectedStarEvent)="onRated($event)"></app-rating>
      </div>
    </div>
    <hr/>
    <div class="formatted-line-break">
      {{lyricsTab.tabLyrics.lyrics}}
    </div>
  </div>
