<div class="container row mt-1">
  <div>
    <form class="d-flex" role="search"
          [formGroup]="songSearchForm" (ngSubmit)="onSearchButtonClicked()">
      <input class="form-control me-2 col-lg-8"
             type="search"
             placeholder="Song"
             aria-label="Search"
             formControlName = "searchData"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let suggestion of searchSuggestions" [value]="suggestion.songTitle">
          {{suggestion.songTitle}} - {{suggestion.artistName}}
        </mat-option>
      </mat-autocomplete>

      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
<!--    <div class="btn-group-sm mt-sm-1 btn-group">-->
<!--      <button class="btn btn-outline-secondary btn-sm" type="button">Top</button>-->
<!--      <button class="btn btn-outline-secondary btn-sm" type="button">Favourites</button>-->
<!--    </div>-->
  </div>


  <div *ngIf="searchResults.length > 0">
    <div class="mt-sm-3">
      <p class="text-secondary">Search Results: </p>
    </div>
    <li class="list-group" *ngFor="let result of searchResults">
      <div class="list-group-item" (click)="onSongClicked(result)">
        {{result.songTitle}} - {{result.artistName}}
      </div>
    </li>
  </div>


<!--  <div class="row mt-sm-5">-->
<!--    <div class="col-md-auto">-->
<!--      <app-song-list listName="Top Songs"></app-song-list>-->
<!--    </div>-->
<!--    <div class="col-md-auto">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->
</div>

