
<div class="container row mt-5">
  <div class="row-cols-auto">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Song" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>


  <div class="row mt-sm-5">
    <div class="col-md-auto">
      <app-top-song-list></app-top-song-list>
    </div>
    <div class="col-md-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

