<div>
  <div class="container mt-sm-1">
    <div class="row-cols-auto">
      <div class="row">
        <h1 class="col-sm-auto">Routines</h1>
        <button type="button"
                (click)="onAddRoutineButtonClicked()"
                class="col-md-auto me-auto bg-light">Add</button>
      </div>
      <div class="container mt-sm-2" *ngFor="let routine of routines; let id = index">
        <ul class="list-group col-md-auto">
          <li class="list-group-item">
            <a (click)="onRoutineSelected(routine)">{{routine.routineTitle}}
            </a>
            <div>
              <li class="btn-group">
                <button class="btn btn-outline-dark btn-sm" (click)="onStartClicked(routine.routineId)">Start</button>
                <button class="btn btn-outline-secondary btn-sm" (click)="onEditRoutineClicked(routine)">Edit</button>
                <button class="btn btn-outline-danger btn-sm"
                        (click)="onRoutineDeleteClicked(routine, username)"
                        [disabled]="disableAllDeleteButtonAfterClicked">Delete</button>
              </li>
           </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
