<div>
  <form [formGroup]="topicForm">
    <ul class="list-group">
      <li class="list-group-item">
        <a><input type="text"
                  formControlName = "topicTitle"
                  placeholder="Topic Title"/></a>
        <button class="btn btn-danger" type="button"
                *ngIf="totalTopics > 1"
                (click)="deleteTopic
                (indexInCurrentRoutine)">X</button>
        <div class="row">
          <p class="col-sm-auto">Song:</p>
          <input type="text"
                 formControlName="topicSongTitle"
                 placeholder="song" class="col-sm-auto"/>
          <button type="button" class="col-sm-auto">Save</button>
        </div>
        <div class="row">
          <p>Chords:</p>
          <button type="button"
                  (click)="onAddChordsButtonClicked()"
                  class="col-sm-auto">Add Chords</button>
        </div>
        <div class="row">
          <p>Changes:</p>
          <button type="button"
                  (click)="onAddChangesButtonClicked()"
                  class="col-sm-auto">Add Changes</button>
        </div>
        <div class="row">
          <p class="col-sm-auto">Strum Patterns:</p>
          <input type="text"
                 placeholder="D(U)D(U)(D)UDU"
                 formControlName="topicStrumPattern"
                 class="col-sm-auto"/>
          <button type="button" class="col-sm-auto">Add</button>
        </div>
        <div class="row">
          <p>Metronome:</p>
          <button class="col-sm-auto">Add Metronome</button>
        </div>
        <div class="row">
          <p class="col-sm-auto">Time:</p>
          <input type="time"
                 formControlName="topicTime"
                 class="col-sm-auto"/>
        </div>
      </li>
    </ul>
  </form>

  <div>
    <ng-template appTopicChordsSelector></ng-template>
  </div>

  <div>
    <ng-template appTopicChordsSelector></ng-template>
  </div>
</div>
