<div>
  <form [formGroup]="topicForm">
    <ul class="list-group">
      <li class="list-group-item">
        <a><input type="text"
                  formControlName = "topicTitle"
                  placeholder="Topic Title"/></a>
        <button class="btn btn-danger" type="button"
                *ngIf="totalTopics > 1"
                (click)="deleteTopic
                (indexInCurrentRoutine)">X</button>
        <div class="row">
          <p class="col-sm-auto">Song:</p>
          <input type="text"
                 formControlName="topicSongTitle"
                 placeholder="song" class="col-sm-auto"/>
          <button type="button" class="col-sm-auto">Save</button>
        </div>
        <div class="container row">
          <p>Chords:</p>
          <div class="container row">
            <span *ngFor="let chordSelected of topicCreated.selectedChords"
                  class="border col-sm-auto">
              {{chordSelected.chordRoot.rootName | musicNote}}{{chordSelected.chordKey.keyName}}
            </span>
          </div>
          <button type="button"
                  (click)="onAddChordsButtonClicked()"
                  class="col-sm-auto">Add Chords</button>
        </div>
        <div class="container row">
          <p>Changes:</p>
          <div class="container row">
            <span *ngFor="let chordChange of topicCreated.chordChanges"
                  class="border col-sm-auto">
            <p>
              {{chordChange.getChordFromRootName() | musicNote}}{{chordChange.getChordFromKeyName()}}
              -> {{chordChange.getChordToRootName() | musicNote}}{{chordChange.getChordToKeyName()}}
            </p>
            </span>
          </div>
          <button type="button"
                  (click)="onAddChangesButtonClicked()"
                  class="col-sm-auto">Add Changes</button>
        </div>
        <div class="container">
          <p class="col-sm-auto">Strum Patterns:</p>
          <div formArrayName="strumPatterns">
            <li class="list-group-item" *ngFor="let strumInput of strumInputArray.controls; let i = index">
              <input type="text"
                     placeholder="DUX(D)U(D)U(X)"
                     formControlName="topicStrumPattern"
                     class="col-sm-auto"/>
              <button class="btn btn-outline-danger" (click)="deleteStrumPatternInput(i)">x</button>
            </li>
          </div>
          <button type="button" class="col-sm-auto" (click)="onAddStrumPatternInputClicked()">Add</button>
        </div>
        <div class="row">
          <p>Metronome:</p>
          <button class="col-sm-auto" (click)="onAddMetronomeClicked()">Add Metronome</button>
        </div>
        <div class="container row border">
          <p class="col-sm-1">Time:</p>
          <input type="number" [min]="0" [max]="23"
                 formControlName="topicTimeDurationHrs"
                 class="col-sm-1"/>
          <input type="number" [min]="0" [max]="59"
                 formGroupName="topicTimeDurationMin"
                 class="col-sm-1">
          <input type="number" [min]="30" [max]="59"
                 formGroupName="topicTimeDurationSec"
                 class="col-sm-1">
        </div>
      </li>
    </ul>
  </form>
  <div>
    <ng-template appTopicChordsSelector></ng-template>
  </div>
  <div>
    <ng-template appTopicChordChangesSelector></ng-template>
  </div>
  <div>
    <app-metronome-menu (metronomeMenuClosed)="closeMetronomeMenu($event)"
                        *ngIf="showMetronomeMenu"></app-metronome-menu>
  </div>
</div>

