<div>
  <div >
    <ul class="list-group">
      <li class="list-group-item">
        <a><input type="text" placeholder="Topic Title"/></a>
        <div class="row">
          <p class="col-sm-auto">Song:</p>
          <input type="text" placeholder="song" class="col-sm-auto"/>
          <button class="col-sm-auto">Save</button>
        </div>
        <div class="row">
          <p>Chords:</p>
          <button class="col-sm-auto">Add Chords</button>
        </div>
        <div class="row">
          <p>Changes:</p>
          <button class="col-sm-auto">Add Changes</button>
        </div>
        <div class="row">
          <p class="col-sm-auto">Strum Patterns:</p>
          <input type="text" placeholder="D(U)D(U)(D)UDU" class="col-sm-auto"/>
          <button class="col-sm-auto">Add</button>
        </div>
        <div class="row">
          <p>Metronome:</p>
          <button class="col-sm-auto">Add Metronome</button>
        </div>
        <div class="row">
          <p class="col-sm-auto">Time:</p>
          <input type="time" class="col-sm-auto"/>
        </div>
      </li>
    </ul>
  </div>
</div>
