<div class="mt-sm-5">
  <form class="row-cols-md-auto">
    <ul class="list-group container">
      <li class="list-group-item">
        <a>
          <input type="text" placeholder="Routine Title">
        </a>
      </li>
      <li class="list-group-item">
        <a>
          <app-topic-creator></app-topic-creator>
        </a>
      </li>
      <li class="list-group-item">
        <a>
          <button type="submit" class="me-sm-1">Save</button>
          <button type="button" class="ms-sm-1" (click)="topicAdded()">Add Topic</button>
        </a>
      </li>
    </ul>
  </form>
</div>
