<div class="mt-sm-5">
  <form class="row-cols-md-auto" [formGroup]="routineCreationForm" (ngSubmit)="onRoutineSubmitted()">
    <ul class="list-group container">
      <li class="list-group-item">
        <a>
          <input type="text"
                 formControlName="routineTitle"
                 placeholder="Routine Title">
        </a>
      </li>
      <li class="list-group-item"
        *ngFor="let topicForm of topicFormArray.controls; let i = index">
        <a>
          <app-topic-creator
            [topicForm]="topicForm"
            [totalTopics]="topicFormArray.length"
            [indexInCurrentRoutine]="i"
            (deleteTopicEvent)="deleteTopic($event)">
          </app-topic-creator>
        </a>
      </li>
      <li class="list-group-item">
        <a>
          <button type="submit" class="me-sm-1">Save</button>
          <button type="button" class="ms-sm-1" (click)="onAddTopicClicked()">Add Topic</button>
        </a>
      </li>
    </ul>
  </form>
</div>
