<div class="mt-sm-5">
  <form class="row-cols-md-auto" [formGroup]="routineCreationForm" (ngSubmit)="onRoutineSubmitted()">
    <ul class="list-group container">
      <li class="list-group-item">
        <a>
          <input type="text"
                 formControlName="titleInput"
                 placeholder="Routine Title">
        </a>
      </li>
      <li class="list-group-item">
        <a>
          <ng-template appRoutineCreationFormHost></ng-template>
<!--          <app-topic-creator [parentRoutineFormObservable]="routineFormSubject"></app-topic-creator>-->
        </a>
      </li>
      <li class="list-group-item">
        <a>
          <button type="submit" class="me-sm-1">Save</button>
          <button type="button" class="ms-sm-1" (click)="onAddTopicClicked()">Add Topic</button>
        </a>
      </li>
    </ul>
  </form>
</div>
